@font-face {
  font-family: "Gotham Pro";
  src: url("/assets/fonts/GothamPro-Black.woff2") format("woff2"),
    url("/assets/fonts/GothamPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("/assets/fonts/GothamPro.woff2") format("woff2"),
    url("/assets/fonts/GothamPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("/assets/fonts/GothamPro-Bold.woff2") format("woff2"),
    url("/assets/fonts/GothamPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gotham Pro", sans-serif;
  font-weight: 500;
}

h1 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 23px;
  font-weight: 900;
}

h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  line-height: 22px;
}

input {
  font-family: inherit;
  font-size: inherit;
}

small {
  font-size: 12px;
  line-height: 11px;
}

button {
  font-size: inherit;
  font-family: inherit;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.main {
  height: 100vh;
  width: 100vw;
  background-color: #e5dede;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: black;
  color: white;
  height: 50px;
  width: 180px;
  border-radius: 10px;
  transition: all 0.4s ease-out;

  &:hover {
    transform: translateY(-2px);
    box-shadow: -20px 30px 30px rgb(0 24 84 / 15%);
  }
}
