@font-face {
  font-family: "Gotham Pro";
  src: url("/assets/fonts/GothamPro-Black.woff2") format("woff2"), url("/assets/fonts/GothamPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("/assets/fonts/GothamPro.woff2") format("woff2"), url("/assets/fonts/GothamPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("/assets/fonts/GothamPro-Bold.woff2") format("woff2"), url("/assets/fonts/GothamPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gotham Pro", sans-serif;
  font-weight: 500;
}

h1 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 23px;
  font-weight: 900;
}

h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  line-height: 22px;
}

input {
  font-family: inherit;
  font-size: inherit;
}

small {
  font-size: 12px;
  line-height: 11px;
}

button {
  font-size: inherit;
  font-family: inherit;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.main {
  height: 100vh;
  width: 100vw;
  background-color: #e5dede;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: black;
  color: white;
  height: 50px;
  width: 180px;
  border-radius: 10px;
  transition: all 0.4s ease-out;
}
.btn:hover {
  transform: translateY(-2px);
  box-shadow: -20px 30px 30px rgba(0, 24, 84, 0.15);
}

.popup {
  background-color: white;
  border-radius: 20px;
  display: flex;
  width: 750px;
  height: 450px;
  transform: scale(0.8);
  transition: transform 0.4s;
}
.popup-wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-out, visibility 0.4s ease-out;
  background-color: rgba(0, 0, 0, 0.6);
}
.popup__left {
  width: 310px;
  position: relative;
  background: url("./img/popup-bg.jpg") no-repeat;
  background-size: contain;
  border-radius: 20px 0 0 20px;
}
.popup__left .book,
.popup__left .arrow {
  position: absolute;
}
.popup__left .book {
  top: 46px;
  left: 50%;
  transform: translateX(-50%);
}
.popup__left .arrow {
  bottom: 15%;
  right: -39px;
}
.popup__right {
  margin-left: 59px;
  padding: 28px 0 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup .popup-info {
  text-align: center;
}
.popup .popup-info__wrapper {
  max-width: 323px;
  margin: 0 auto;
}
.popup .popup-info .popup-title {
  margin-bottom: 48px;
}
.popup .popup-info .popup-subtitle {
  margin-top: 7px;
  margin-bottom: 5px;
  text-align: center;
}
.popup .popup-info__text {
  font-size: 14px;
  line-height: 13px;
  margin-bottom: 34px;
  color: #0d0d0d;
}
.popup .popup-info small {
  display: block;
  margin-top: 15px;
}
.popup .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup .form label {
  font-size: 12px;
  line-height: 11px;
  text-align: left;
  margin-bottom: 16px;
}
.popup .form .input {
  height: 50px;
  width: 100%;
  outline: none;
  border: 2px solid #f3ce00;
  padding: 0 15px;
  font-size: 14px;
  line-height: 13px;
  font-weight: bold;
  margin-top: 5px;
  border-radius: 4px;
}
.popup .form .input::placeholder {
  color: #0d0d0d;
}
.popup .form .submit-btn {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 16px;
  line-height: 110%;
  color: white;
  width: 100%;
  height: 50px;
  background: linear-gradient(92.64deg, #ff5621 29.24%, #f21313 83.67%);
  border-radius: 4px;
  transition: box-shadow 0.4s;
}
.popup .form .submit-btn:hover {
  box-shadow: -10px 20px 30px rgba(255, 86, 33, 0.4);
}

.popup--opened {
  opacity: 1;
  visibility: visible;
}
.popup--opened .popup {
  transform: scale(1);
}

/*# sourceMappingURL=style.css.map */
